@use '../utilities/functions' as u;

.video {

    &_header{
        text-align: center;
        margin: u.rem(20) 0;
        background-color: transparent;

        & h1{
            color: rgb(253, 249, 18);
        }

        & p {
            font-size: 18px;
        }
    }
    &_footer{
        text-align: center;
        margin: u.rem(20) 0;
        background-color: transparent;

        & p {
            font-size: 18px;
        }
    }

    &_video {
        background-color: var(--c-black);
        &Src{
            display: flex;
            margin: 0 auto;
            width: 100%;
            height: 100%;

            @media (min-width: u.rem(600)) {
                width: 65%;
                height: 65%;
            }
        }
    }

    &_toggler{
        display: flex;
        align-items: center;
        padding: u.rem(10);
        
    }
    &_play {
        cursor: pointer;
        width: 0; 
        height: 0; 
        border-top: u.rem(10) solid transparent;
        border-bottom: u.rem(10) solid transparent;
        border-left: u.rem(20) solid var(--c-white);
        border-right: 0 solid transparent;
        background-color: transparent;
        margin: 0 u.rem(5);
        &:hover{
            opacity: .5;
        }
    }
    &_pause {
        cursor: pointer;
        border-style: double;
        border-color: var(--c-white);
        // border-width: 0 u.rem(20) 0 0;
        height: u.rem(20);
        border-top: 0 solid transparent;
        border-bottom: 0 solid transparent;
        border-right: 0 solid transparent;
        border-left: u.rem(20) double var(--c-white);
        background-color: transparent;
        margin: 0 u.rem(5);
        &:hover{
            opacity: .5;
        }
    }
    &_stop {
        cursor: pointer;
        background-color: var(--c-white);
        width: u.rem(25);
        height: u.rem(20);
        border: none;
        margin: 0 u.rem(10);
        &:hover{
            opacity: .5;
        }
    }
    
    &_progress {
        width: 100%;
    }
    
    &_time {
        color: var(--c-white);
        margin: 0 u.rem(10);
    }
    
}



